[submodule "resource-grid-visualizer"]
	path = resource-grid-visualizer
	url = https://github.com/tuannv-github/resource-grid-visualizer.git
	branch = main
[submodule "openairinterface5g"]
	path = openairinterface5g
	url = https://github.com/FCCLab/openairinterface5g-duranta.git
	branch = nw-slicing-3gpp
[submodule "oai-cn5g-fed"]
	path = oai-cn5g-fed
	url = https://github.com/FCCLab/INA-Infra-oai-cn5g-fed.git
	branch = main
[submodule "oai-nvidia"]
	path = oai-nvidia
	url = https://github.com/FCCLab/oai-nvidia
