[submodule "resource-grid-visualizer"]
	path = resource-grid-visualizer
	url = https://github.com/tuannv-github/resource-grid-visualizer.git
	branch = main
[submodule "oai-cn5g-fed"]
	path = oai-cn5g-fed
	url = https://github.com/FCCLab/INA-Infra-oai-cn5g-fed.git
	branch = main
[submodule "oai-nvidia"]
	path = oai-nvidia
	url = https://github.com/FCCLab/oai-nvidia
	branch = nws-e2ap
[submodule "nws/neuroran-ui-ux"]
	path = nws/neuroran-ui-ux
	url = https://github.com/NeuroRAN/neuroran-ui-ux
[submodule "nws/app_xapp/git@github.com:NeuroRAN/xapp-network-slicing.git"]
	path = nws/app_xapp/git@github.com:NeuroRAN/xapp-network-slicing.git
	url = git@github.com:NeuroRAN/xapp-network-slicing.git
[submodule "nws/app_xapp/nws/app_xapp"]
	path = nws/app_xapp/nws/app_xapp
	url = git@github.com:NeuroRAN/xapp-network-slicing.git
[submodule "nws/osc-xapp-network-slicing"]
	path = nws/osc-xapp-network-slicing
	url = git@github.com:NeuroRAN/xapp-network-slicing.git
